

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .navbar-brand .nav-link{
        font-size: 0.75em;
    }

    #welcome-text {
        font-size: 1.5em;
    }
  }
  
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .navbar-brand .nav-link {
        font-size: 1em;
    }
    
    #welcome-text {
        font-size: 2em;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .navbar-brand .nav-link {
        font-size: 1.5em;
    }
    #welcome-text {
        font-size: 3em;
    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .navbar-brand .nav-link {
        font-size: 1.5em;
    }
    
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .navbar-brand .nav-link {
        font-size: 1.5em;
    }
    
  }